.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 20px;
}

.column {
    align-items: center;
}

.column-1 {
    align-self: flex-start;
}

.column-2 {
    align-self: center;
}

.column-3 {
    align-self: flex-end;
}